.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    color: white;
    text-align: center;
}


.myModalContent {
    padding: 25px;
    background: #220C37;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
}

.myModalContent:hover,
.myModalContent button:hover,
.myModalContent input[type=file]::file-selector-button:hover {
    box-shadow: 0 0 11px rgb(247, 0, 255); 
}

.myModalContent button,
.myModalContent input {
    margin: 10px;
    color: white;
    background:#220C37;
}

.myModalContent input[type=file]::file-selector-button {
    margin: 10px;
    color: white;
    border-radius: 5px;
    background-color: #8F0ABE;
}

.myModalContent input {
    cursor: pointer;
    margin: auto;
    color: white;
    
    background: linear-gradient(#220C37, #341454, #8F0ABE, 0.5);
}





.myModal audio {
    margin:0 auto;
    margin-top: 10px;
    border-radius: 0px;
}

.myModalContent audio::-webkit-media-controls-panel {
    background-color: #8F0ABE;
}


.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
}
