body{
    background: #341454;
}

.row{
    --bs-gutter-x:0;
    padding: 0;
    width: 100%;
}

.bar{
    margin: 0;
    width: 100%;
    height: 125px;
    background: #220C37;
}

.logo{
    width: 150px;
    text-align-all: left;
    height: 100%;
}

.form{
    margin-top: 5%;
    color:white;

}
.form-content-log{
    height: 250px;
    padding-top: 25px;
    background: #220C37;
    opacity: 80%;
    border: none;
    border-radius: 5px;
}

.form-control,.log-in-but{
    margin:  auto;
    width: 70%;
}

.btn-log,#ok-but{
    height: 40px;
    width: 80px;
    background-image: linear-gradient(to right, #FF008E, #8F0ABE, #0012B8);
    border-radius: 5px;
    border: none;
}

.another-options{
    margin-top: 50px;
}
a:hover{
    color: black;
}

a {
    color: white;
    text-decoration: none;
}




#msgBox {
    height: 100px;
    width: 130px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    max-width: 600px;
    padding: 10px;
    background: #341454;
}

.btn-box{
    text-align: center;
    margin-top: 20px;
}